<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Company Portal</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div *ngIf="isloading" style="text-align: center">
        <div class="lds-ring">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div *ngIf="!isloading">
        <div class="form-group">
          <label for="email">Company Name:</label>
          <select class="form-control" [(ngModel)]="companyval">
            <option value="0">--All--</option>
            <option *ngFor="let company of companies" [ngValue]="company.companyCode">
              {{company.companyName}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="startdate">From:</label>
          <input type="date" class="form-control" id="startdate" name="startdate" [(ngModel)]="startdate">
        </div>
        <div class="form-group">
          <label for="enddate">To:</label>
          <input type="date" class="form-control" id="enddate" [(ngModel)]="enddate">
        </div>
        <div class="form-group">
          <button type="date" class="btn btn-primary" (click)="searchrecords()">Search</button>
        </div>
      </div>
    </div>
    <div class="col-xs-2">
      <label for="min">Min: </label>
      <label>{{minstock}} </label>
    </div>
    <div class="col-xs-2">
      <label for="max">Max: </label>
      <label>{{maxstock}}</label>
    </div>
    <div class="col-xs-2">
      <label for="avg">Avg: </label>
      <label> {{avgstock}}</label>
    </div>
  </div>

  <div class="col-md-12" *ngIf="!isloading">
    <span *ngIf="compstocks.length == 0 && searching && !error">No Records Found</span>
    <table class="table" *ngIf="compstocks.length > 0">
      <thead>
        <th>Stock Price</th>
        <th>Date</th>
        <th>Time</th>
      </thead>
      <tbody>
        <tr *ngFor="let items of compstocks">
          <td>{{items.price | number : '1.2-2'}}</td>
          <td>{{items.priceDate | date}}</td>
          <td>{{items.priceDate | date:'mediumTime'}}</td>
        </tr>
      </tbody>
    </table>
    <span>{{error}}</span>
  </div>
</div>